/* Write your CSS code here */
.loader-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.currency-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/cryptocurrency-bg.png');
  background-size: cover;
  width: 100%;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.currency-image {
  width: 100%;
}
.card-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-heading {
  color: #00e7ff;
  font-size: 34px;
  font-weight: 700;
  width: 240px;
  text-align: center;
}
.adjust-currency-list {
  border-radius: 10px;
  border: 2px solid #00e7ff;
  width: 100%;
}
.bg-container {
  background-color: #00e7ff33;
  flex-grow: 1;
  margin-top: 0px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
}
.heading-container {
  display: flex;
  align-self: center;
}
.currencies-title {
  font-size: 20px;
  font-weight: 600;
  color: white;
  padding-right: 15px;
  align-self: center;
}
.currencies-description {
  font-size: 18px;
  font-weight: 600;
  padding-left: 40px;
  color: white;
}
